@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.hero {
    display: flex;
    padding: 0 3%;
    gap: 4rem;
    min-height: calc(100vh - 82px);

    .left{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;

        h1 {
            font-size: 4rem;
            margin: 0;
            font-family: 'lato', serif;
            font-weight: 800;
        }

        p {
            font-size: 18px;
            font-family: 'Nunito', serif;
            font-weight: 500;
            color: gray
        }

        .buttons {

            display: flex;
            gap: 1.3rem;

            button:first-child {
                background-color: black;
                color: white;
                border: none;
                max-width: 100px;
                width: 100%;
                min-height: 50px;
                height: 100%;
                cursor: pointer;
            }
    
            button:nth-child(2){
                background-color: white;
                border: none;
                max-width: 100px;
                width: 100%;
                min-height: 50px;
                height: 100%;  
                border: 1px solid black;
                cursor: pointer;
            }

            button {
                transition: all 0.3s ease;
            }

            button:hover {
                transform: scale(1.03);
            }

        }



    }
    .right{
        flex: 1;
        display: flex;
        max-height: calc(100vh - 82px);
        height: 100%;
        gap: 1rem;

        .left {
            display: grid;
            justify-content: start;
            overflow: hidden;
            grid-template-rows: 0.5fr 1fr 1fr;
            min-height: calc(100vh - 82px);
            gap: 1rem;

            .image:first-child {
                border-radius: 0 0 5px 5px;
            }

            .image {
                width: 100%;
                z-index: -1;
                overflow: hidden;
                border-radius: 5px;
                img {
                    width: 100%;
                    object-fit: cover;
                }
            }   

        }

        .right {
            display: grid;
            justify-content: start;
            overflow: hidden;
            grid-template-rows: 1fr 1fr 0.5fr;
            min-height: calc(100vh - 82px);
            gap: 1rem;

            .image:last-child {
                border-radius: 5px 5px 0 0;
            }

            .image {
                width: 100%;
                z-index: -1;
                overflow: hidden;
                border-radius: 5px;
                img {

                    width: 100%;
                    object-fit: cover;
                }
            }  
        }
    }

    @media (max-width: 480px) {
        .hero {
            display: flex;
            flex-direction: column;
            .left {
            }
        }
    }
    @media (min-width: 481px) and (max-width: 767px) {}
    @media (min-width: 768px) and (max-width: 1024px) {}
    @media (min-width: 1025px) and (max-width: 1440px) {}
    @media (min-width: 1441px) {}

}