.card {
    overflow: hidden;
    border: 1px solid black;
    max-width: 250px;
    width: 100%;
    .images {
        width: 100%;
        height: 300px;
        position: relative;
        overflow: hidden;

        &:hover {
            .secondImg {
                z-index: 2;
            }
        }
            
        .mainImg {
            z-index: 1;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
        };

    }
    .info {
        .price {
            display: flex;
            gap: 1rem;
            padding-left: 5px;

            .precio-antiguo {
                text-decoration: line-through;
                color: gray
            }

            p:last-child {
                color: rgb(0, 68, 255);
            }
        }
    }

    @media (min-width: 0px) and (max-width: 767px) {
        .images {

            height: 165px;
            // width: 165px;
            img {
                height: 100%;
                width: 100%;
            }

        }
    }
        
    @media (min-width: 768px) and (max-width: 1024px) {
        .images {

            // height: 185px;
            // width: 185px;
            img {
                height: 100%;
                width: 100%;
            }

        }

        .info {
            .price {

                p {
                    font-size: 25px ;
                }
            }
        }
    }
}