.navbar {
    height: 80px;
    padding: 0 20px;
    border-bottom: 2px solid black;
    

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 3%;
        margin-right: 3%;
    
        .left {
            h1 {
                font-family: 'Montserrat', serif;
            }
        }

        .center{
            display: flex;
            align-items: center;
            gap: 2rem;
    
            .item {
                display: flex;
                align-items: center;

                .link {
                    font-family: 'Nunito', sans-serif;
                    font-weight: 500;
                }

            }


            .marca-colecciones:hover {
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                height: 82px;

                .colecciones {
                    display: flex;
                }
            }

            .icon {
                color: gray;
                cursor: pointer;
            }

            .icon:hover {
                color: black
            }


        }
        .right{
            display: flex;
            align-items: center;
            gap: 1rem;
            position: relative;

            .icon {
                color: gray;
                cursor: pointer;
            }

            .icon:hover {
                color: black
            }

            span {
                font-size: 12px;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: #2879fe;
                color: white;
                position: absolute;
                right: -10px;
                top: -10px;
                display: flex;
                align-items: center;
                justify-content: center;
            };
        }
    
    }
}
