.productShowcase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px 5%;

    .products {
        display: flex;
        width: 100%;
        justify-content: space-around;
        position: relative;

        img {
            width: 80px;
        }

        .icon {
            position: absolute;
            top: 50%; 
            left: 0; 
            transform: translateY(-50%); 
        }
        
        
        .icon2 {
            position: absolute;
            top: 50%; 
            right: 0; 
            transform: translateY(-50%);
        }
    }

}