.filters {
    // height: 100vh;
    position: relative;
    .desktop {
        top: 50px;
        position: sticky;

            .item {
                display: flex;
                flex-direction: column;
    
                .categories {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 10px;
    
                    div {
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                    }
    
                }
    
                .filter-by-price {
                    display: flex;
                    align-items: center;
                }
    
                .sort {
                    display: flex;
                    flex-direction: column;
    
                    div {
                        display: flex;
                        align-items: center;
                    }
                }
    
            }
            
            
        @media (min-width: 0px) and (max-width: 767px) {
            display: none;
        }
    
        @media (min-width: 768px) and (max-width: 1024px) {
            display: none;
        }
    }

    .mobile {
        background-color: rgb(207, 207, 207);
        padding: 10px;
        border-radius: 10px;

            .filter-products {
                all: unset;
                font-size: 1.3rem;
                display: flex;
                justify-content: center;
                font-weight: 700;
                width: 100%;
            }

            .item {
                display: none;
                flex-direction: column;
            }

            .active {
                display: flex;
            }       

        @media (min-width: 768px) and (max-width: 1024px) {
            .active {

                .categories {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    div {
                        label {
                        font-size: 1.5rem !important;
                    }
                        
                    }
                }
                span {
                    font-size: 20px !important;
                }

                .sort {
                    display: flex;
                    flex-direction: column;
                    label {
                        font-size: 1.5rem;
                    }
                }
            }
        } 

        @media (min-width: 1025px) {
            display: none;
        } 

    }

}